asgiref==3.5.2
cfgv==3.4.0
distlib==0.3.7
Django==4.0.5
django-cors-headers==3.13.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
filelock==3.13.1
identify==2.5.32
nodeenv==1.8.0
platformdirs==4.0.0
pre-commit==3.5.0
PyJWT==2.4.0
pytz==2022.1
PyYAML==6.0.1
sqlparse==0.4.2
virtualenv==20.24.7
